altgraph==0.17.4
auto-py-to-exe==2.44.1
Babel==2.14.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.2.2
cffi==1.17.0
charset-normalizer==3.3.2
dnspython==2.6.1
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.6
ldap3==2.9.1
ms_active_directory==1.13.0
mysql-connector-python==8.3.0
packaging==24.1
pefile==2023.2.7
pillow==10.3.0
pyasn1==0.6.0
pycparser==2.22
pycryptodome==3.20.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyparsing==3.1.2
python-dotenv==1.0.1
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==72.1.0
six==1.16.0
tkcalendar==1.6.1
ttkwidgets==0.13.0
urllib3==2.2.1
whichcraft==0.6.1
zope.event==5.0
zope.interface==7.0.1
